<h1 class='uberheader'>These are the allergies that you have:</h1>
<ul class='allergies'>
  <li><%= @allergies[0] %></li>
  <li><%= @allergies[1] %></li>
  <li><%= @allergies[2] %></li>
  <li><%= @allergies[3] %></li>
  <li><%= @allergies[4] %></li>
  <li><%= @allergies[5] %></li>
  <li><%= @allergies[6] %></li>
</ul>
